<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <style>
        body {
            width: 980px;
            margin: 10px;
            font: 12px/16px Tahoma, Geneva,  sans-serif;
            background: #CCE1D7;
        }
        body>form {
            width: 590px;
            height: 200px;
            background: #9ac3d6;
            margin-left: 10px;
            border: #63b2d6 1px solid;
        }
        body>form>div:first-child {
            width: 270px;
            padding: 10px;
            float: left;
            margin-left: 10px;
        }
        body>form>div:first-child+div {
            font-style: initial;
            float: left;
            padding: 10px;
        }
        body>form>div:first-child>p>label {
            display: inline-block;
            width: 55px;
            text-align: left;
        }
        body>form>div:first-child+div>p>label {
            display: inline-block;
            width: 85px;
            text-align: left;
        }
        body>form>div:first-child+div>p:last-child {
            padding-top: 30px;
        }
        button[type="submit"] {
            float: right;
            background-color: #4CAF50;
            /* border: #1d7c3b 1px solid; */
            border: none;
            color: white;
            padding: 8px 18px;
            font-size: 16px;
            margin: 0px 20px;
            cursor: pointer;
        }
        table, th, td {
            width: 1500px;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
    </style>
</head>
<body>
    <header><h1>Test get data from Database</h1></header>
    <form method="POST" action="/search">
        <div>
            <p>
                <label for="uniqId">Uniq ID : </label>
                <input type="text" id="uniqId" name="uniqId">
            </p>
            <p>
                <label for="city">City : </label>
                <input type="text" id="city" name="city">
            </p>
            <p><strong>Room Price Range</strong></p>
            <p>
                <label for="roomPriceMoreThan">Min : </label>
                <input type="text" id="roomPriceMoreThan" name="roomPriceMoreThan">
            </p>
        </div>
        <div>
            <p>
                <label for="propertyType">Property Type : </label>
                <select name="propertyType" id="propertyType">
                    <option value="Hotel">Hotel</option>
                    <option value="Homestay">Homestay</option>
                    <option value="House">House</option>
                    <option value="Villa">Villa</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Lodge">Lodge</option>
                    <option value="Resort">Resort</option>
                    <option value="Spa">Spa</option>
                </select>
            </p>
            <p>
                <label for="amenities">Amenities : </label>
                <input type="text" id="amenities" name="amenities">
            </p>
            <p>
                <label for="roomPriceLessThan">Max : </label>
                <input type="text" id="roomPriceLessThan" name="roomPriceLessThan">
            </p>
        </div>
        <div>
            <p>
                <button type="submit">Submit</button>
            </p>
        </div>
    </form>
    <div>
        <p><b>Result</b></p>
        <table>
            <thead>
                <tr>
                    <th>Project ID</th>
                    <th>Uniq ID</th>
                    <th>Price</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Occupancy</th>
                    <th>Property Name</th>
                    <th>Property Type</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < tagline.length; i++) { %>
                    <tr>
                        <td><%- tagline[i].property_id %></td>
                        <td><%- tagline[i].uniq_id %></td>
                        <td><%- tagline[i].room_price %></td>
                        <td><%- tagline[i].city %></td>
                        <td><%- tagline[i].country %></td>
                        <td><%- tagline[i].occupancy %></td>
                        <td><%- tagline[i].property_name %></td>
                        <td><%- tagline[i].property_type %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</body>
</html>